{% load static %}
<!-- HEADER -->
    <header>
    <!-- Üst Header -->
    <div class="py-2">
        <div class="container">
            <p class="text-center text-dark mb-0 fw-bold">Welcome to Our Store!</p>
        </div>
    </div>

    <!-- Ana Header -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #bb835e;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/foxL.png' %}" alt="Logo" width="60" height="auto">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'product_by_category' 'category' %}">All</a></li>
                            <li><a class="dropdown-item" href="{% url 'product_by_category' 'real-fur' %}">Real Fur</a></li>
                            <li><a class="dropdown-item" href="{% url 'product_by_category' 'faux-fur' %}">Faux Fur</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <!-- Sağ taraftaki ikonlar -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
                
            
        
    

