{% extends "layout.html" %}

{% block page_title %}
   About
{% endblock page_title %}

{% block contact %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="text-center">
            <h3 class="mb-4">About Our Company</h3>
            <p>
                Welcome to our company! We are dedicated to providing high-quality products and services to our customers.
                <br>
                Our mission is to make a positive impact on the world through innovation and excellence.
            </p>
            <h4 class="mt-4">Our Values</h4>
            <p>
                Integrity, Innovation, Customer Satisfaction, Teamwork
            </p>
        </div>
    </div>
{% endblock contact %}