{% extends "layout.html" %}

{% block page_title %}
    Contact
{% endblock page_title %}

{% block contact %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="text-center">
            <h3 class="mb-4">Get in Touch</h3>
            <p>
                We'd love to hear from you! Whether you have a question, feedback, or just want to say hello, feel free to reach out.
                <br>
                Our team is always ready to assist you.
            </p>
            <h4 class="mt-4">Contact Information</h4>
            <p>
                Email: info@example.com<br>
                Phone: +1-123-456-7890<br>
                Address: 123 Main Street, Anytown, USA
                <i class="fa-regular fa-user"></i>
            </p>
        </div>
    </div>
{% endblock contact %}