{% extends "layout.html" %}

{% block page_title %}
    Real
{% endblock page_title %}
{% block contact %}
    <div class="container mt-3">
        <h1>Real</h1>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Product 2">
                        <div class="card-body">
                            <h5 class="card-title">Product 2</h5>
                            <p class="card-text">$149.99</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>

    </div>
{% endblock contact %}